 /* 选择颜色 */

 .color {
     font-size: 0px;
     width: 171px;
     padding: 10px;
     box-sizing: content-box;
     line-height: 1em;
     display: none;
     margin-top: -5px;
     white-space: normal;
 }


 .color-view:hover {
     display: block;
 }

 .color-item {
     display: inline-block;
     width: 19px;
     height: 19px;


     &>span {
         width: 15px;
         height: 15px;
         margin: 2px;
         cursor: pointer;
         box-sizing: border-box;
         display: inline-block;

         &:hover {
             outline: 1px solid black;
         }

         &[active='yes'] {
             outline: 1px solid black;
         }
     }
 }
